<h2><a href="/pokemons">All Pokemon</a></h2>
<div class="pokemon">
<p>Pokemon Name: <%= @pokemon.name %></p>
<p>Combat Power: <%= @pokemon.cp %></p>
<p>Poke Type: <%= @pokemon.poke_type %></p>
</div>

<a href='/pokemons/<%= @pokemon.id %>/edit'>Edit this pokemon</a>


<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
